/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');

:root{
    --light-gray:#2b3032a1;
    --primary-color:#45ccb8;
    --border:#2b303218;
    --text-color:#ff686b;
    --roboto:"Roboto",sans-serif;
    --gugi:"Gugi",cursive;
    --sofia:"Sofia",cursive;
}


.primary-color{
    color:var(--primary-color);
}
.bg-primary-color{
    background-color:var(--primary-color)!important;
}
.text-color{
    color:var(--text-color);
}
.font-roboto{
    font-family: var(--roboto);
}
.lightblue{
    color: lightblue;
}

/* Header */

header{
    background-color:var(--primary-color);
    font-family:var(--roboto);
}
header .site-title{
   font-family:var(--roboto);
}
.container.dropdown-toggle,
.container.dropdown-item{
    font-size: 0.7em;
}
.header-links a{
     font-size: 0.9em;
     text-decoration: none;
     color: white;
}

/*Navigation menu*/
.navbar-nav{
    padding: 0.8em 0em;
}
.navbar-nav .nav-link{
    font-size:0.9em;
    color:var(--light-gray)!important;
}
.navbar-nav .nav-item .nav-link{
    padding: 0 1.3em;
}
.navbar-nav .basket-icon{
    margin-right: 6.5em !important;
}

/***********************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Poppins', sans-serif;
}
.navbar.logo img{
    background-color: #f1c3f1;
}
.navbar{
    display: flex;
    align-items: center;
    padding:20px;
    font-size: 100%;

}
.col-4 h4{
    font-size: 10px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;  
    list-style-type: none;  
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: rgb(153, 143, 143);
}
p{
    color: rgb(39, 29, 29);
    font-size: 12px;
}

.promo{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}


.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 0px;
    padding-left: 0px;

}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    position: center;
}
.col-2 img{
    /*max-width: 100%;
    padding: 50px 0;*/
    background-color: #fff;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: bisque;
    margin-top: 90px;
}
.text-acc p{
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
    color: #fff;
}
.btn{
    display: inline-block;
    background: #f36997;
    color: #fff;
    padding:10px 20px;
    margin: 40px 0px;
    border-radius: 30px;
    transition: 0.5s;
    text-align: center;
    margin-top: 90px;
    font-size: 20px;
}

.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#f1c3f1,#ffd6ff);
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/imagems1.jpeg);
    background-position: center;
    background-size: cover;
    position:relative;
    margin-left: 0px;
    margin-right: 0px;


}
.header .row{
    margin-top: 30px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 p{
    font-size: 12px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}

.titre{
    text-align: center;
    margin: 0 auto 30px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.titre::after{
        content: ' ';
        background: #ff523b;
        width: 80px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50px);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-5px);

}
/*---------------Offert----------------------------*/
.offer{
    background: radial-gradient(rgb(53, 43, 43),#3b363b);
    margin-top: 80px;
    padding: 50px 0;
    margin-left: 0px;
    margin-right: 0px;
}
.col-2 .offer-img{
    padding: 50px;
    width: 90%;
    
}
small{
    color: rgb(139, 136, 136);
    font-size: 17px;
    text-align: center;
    

}
.col-2 h1{
    margin-top: 0px;
    margin-bottom: 0px;
}
.col-2 .btn{
    margin-top: 0px;
    margin-bottom: 0px;
}
.offer p{
    color: #fff;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
    
}

/*------------------------------testimonial-----------------*/
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgb(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform:translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 10px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 14px;  
}

/*--------------------------brands---------------------*/

.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}

/*-------------------------footer---------------------*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color:#fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 130px;
}
.copyright hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
    margin-top: 10px;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
        background: #ff523b;
        color:#fff;    
}

/*-----------------Détail du produit------------------------*/

  .detail-produit{
      margin-top: 80px;    
  }
  .detail-produit .col-2 img{
      padding: 0;
  }
  .detail-produit .col-2{
      padding: 20px;
  }
  .detail-produit h4{
      margin: 20px 0;
      font-size: 20px;
      font-weight: bold;
  }
  .detail-produit select{
      display: block;
      padding: 10px;
      margin-top: 20px;
  }
  .detail-produit input{
      width: 50px;
      height: 40px;
      padding-left: 10px;
      font-size: 20px;
      margin-right: 10px;
      border: 1px solid #ff523b;
  }
  input:focus{
      outline: none;
  }
  .detail-produit .fa{
      color: #ff523b;
      margin-left: 10px;  
  }
  .small-img-row{
      display: flex;
      justify-content: space-between;
  }
  .small-img-col{
      flex-basis: 24%;
      cursor: pointer;
  }
  .detail-produit p{
      color: rgb(31, 16, 16);
  }
  









/*---------------------Tous les produits------------------------*/

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;

}











